<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category Product</title>
    <link rel="stylesheet" href="css/css.form.css"> 

</head>
<body>
    <div class="container-page">
        <h2>Add Product</h2>

        <form action="/add-category" method="post" class="custom-form">
        
            <label for="categoryName">Category Name</label>
            <input type="text" id="categoryName" name="categoryName" required><br>
        
            
            <input type="submit" value="Add Category">
        </form>
    </div>
</body>
</html>